.header__lang-link {
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    margin: 0 0 0 18px;
}

.header__lang-link:hover {
    transition: 0.4s ease;
    opacity: 0.4;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        max-width: 22px;
        font-size: 18px;
        line-height: 20px;
    }
}
