.cover__link {
    min-height: 740px;
    display: block;
    text-decoration: none;
    background-color:rgba(42,44,47,.3);
    max-height: 200px;
}


.cover__link:hover {
    background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
    .cover__link {
        min-height: 640px;
    }
}

@media screen and (max-width: 320px) {
    .cover__link {
        min-height: 200px;
    }
}