.place__title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;

}



@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
}