.place__title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    align-self: start;
    justify-self: start;
}




@media screen and (max-width: 768px) {
  .place__title {
    max-width: 100%;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin-left: 16px;
  }
}
