.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 14px;
    margin: 92px 48px 0;
    max-width: 1184px;
}

@media screen and (max-width: 1280px) {
    .photo-grid {
        margin: 0 auto;
        margin-top: 92px;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        margin: 94px 48px 0;;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 64px 24px 0;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}