.header__lang {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 320px) {
    .header__lang {
        max-width: 288px;
        margin: 25px 20px;
}
}