@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');



.lead {
    max-width: 984px;
    margin: 0 auto;
}


@media screen and (max-width: 1280px) {
    .lead {
        max-width: 984px;
    }




@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin-top: 30px;
    }

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        margin-top: 30px;
    }

    @media screen and (max-width: 320px) {
        .lead {
            max-width: 320x;
            margin-top: 30px;
        }
    
