.cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0 auto;
    margin-top: 30px;
}


@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        margin: 16px 16px 16px 33px;
        font-size: 14px;
        line-height: 16px;

    }
}