.header__logo {
  width: 176px;
  height: 52px;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .header__logo  {
      max-width: 176px;
      min-height: 52px;
}
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 142px;
      max-height: 42px;
  }
}