@import url('__logo/header__logo.css');
@import url('__lang/header__lang.css');
@import url('__link/header__lang__link.css');
@import url('./__link/__link-decoration/header__lang__link-decoration.css');

.header { 
    display: flex;
    margin: 0 auto;
    margin-top: 28px;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .header {
        max-width: 1184px;
        margin: 28px 48px 0;
}
}



@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        margin: 28px 48px 0;
}
}


@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        margin: 28px 24px 0;
}
}
@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        margin: 16px 16px 0;
}
}