.place__text {
    color: #FFFFFF;
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    margin: 0;
}


@media screen and (max-width: 767px) {
  .place__text {
    max-width: 100%;
    font-size: 16px;
    margin: 0;
  }
}
@media screen and (max-width: 320px) {
  .place__text {
      margin-left: 16px;
      margin-right: 16px;
  }
}