.lead__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    font-style: normal;
    max-width: 720px;
    margin: 30px 140px;
}


@media screen and (max-width: 1024px) {
    .lead__title {
        max-width: 720px;
        margin: 0 auto;
    }
}



    @media screen and (max-width: 768px) {
        .lead__title {
            max-width: 720px;
            margin: 0 auto;
        }
    }
       
       
       
        @media screen and (max-width: 768px) {
            .lead__title {
                max-width: 288px;
                margin: 0 auto;
                font-size: 40px;
                line-height: 44px;
            }
        }