@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list-info/intro__list-info.css');
@import url('./__span-stat/intro__span-stat.css');
.intro {
    max-width: 690px;
    display: flex;
    box-sizing: border-box;
    color: #FFFFFF;
    justify-content: center;
    flex-direction: column;
    margin: 90px 100px 50px;
}

@media screen and (max-width: 1280px) {
    .intro {
        max-width: 690px;
        margin-left: 50px;
    }
}


@media screen and (max-width: 1024px) {
    .intro {
        margin-top: 80px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 768px) {
        .intro {
            max-width: 720px;
            margin-top: 60px;
            margin-left: 14px;
        }
    }

@media screen and (max-width: 320px) {
            .intro {
                max-width: 288px;
            }
        }