@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list-info/intro__list-info.css');
@import url('./__span-stat/intro__span-stat.css');
.intro {
    display: flex;
    box-sizing: border-box;
    color: #FFFFFF;
    justify-content: center;
    flex-direction: column;
    margin: 90px 100px 50px;
}



@media screen and (max-width: 1023px) {
    .intro {
        margin-top: 80px;
        margin-left: 48px;
    }
}
@media screen and (max-width: 767px) {
        .intro {
            max-width: 720px;
            margin-top: 60px;
            margin-left: 24px;
        }
    }

@media screen and (max-width: 319px) {
            .intro {
                max-width: 288px;
                margin-left: 16px;
                margin-right: 16px;

            }
        }