.place__images {
    max-width: 460px;
    object-fit: cover;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .place__images {
        max-width: 460px;
}
}

@media screen and (max-width: 1024px) {
    .place__images {
        max-width: 440px;
}
}

@media screen and (max-width: 768px) {
    .place__images {
        max-width: 340px;
}
}


@media screen and (max-width: 320px) {
    .place__images {
        max-width: 320px;
}
}
