.lead__subtitle {
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 64px;
    max-width: 640px;

}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        max-width: 640px;
    }
}



@media screen and (max-width: 700px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}