.cover {
    width: 100%;
    background-size: cover;
    margin: 92px 0 0;
    background-image: url(./../../images/background.jpg);
    background-position: center;
    min-height: 200px;

}


@media screen and (max-width: 1279px) {
    .cover {
        max-width: 100%;
}
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0 0;
}
}


@media screen and (max-width: 768px) {
    .cover {
      margin: 64px 0 0;
    }
  }




