@import url('./__link/cover__link.css');
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
.cover {
    max-width: 1184px;
    margin: 0 auto;
    object-fit: cover;
    margin-top: 60px;
    background-image: url(./../../images/background.jpg);
}


@media screen and (max-width: 1280px) {
    .cover {
        max-width: 1024px;
}
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
}
}


@media screen and (max-width: 768px) {
    .cover {
      min-height: 200px;
      margin-top: 64px;
    }
  }
