.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
  margin: 0 auto;
}
.place__link:hover {
opacity: .5;
transition: ease 400ms;
}