.place__link {
    color: #FFFFFF;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-decoration-line: underline;
}

.place__link:hover {
    opacity: .8;
    transition: ease 400ms;
}