.lead__caption {
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}


@media screen and (max-width: 1024px) {
    .lead__caption {
        margin-top: 8px;
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    
    }
}

    