.cover__title {
    width: 560px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    font-style: normal;
    margin: 0 auto;
    padding-top: 245px;

}


@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
