.cover__title {
    width: 560px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    font-style: normal;
    margin: 0 auto;
    padding-top: 245px;

}



@media screen and (max-width: 768px) {
    .cover__title {
      max-width: 80%;
      margin-bottom: 16px;
      padding: 115px 104px 0 104px;
    }
  }




  
@media screen and (max-width: 320px) {
  .cover__title {
   max-width: 288px;
   padding: 33px 16px 0 16px;
   font-size: 32px;
   line-height: 35px;
  }
}