.cover__title {
  max-width: 560px;
  margin: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFF;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    max-width: 56%;
}

@media screen and (max-width: 1023px) {
  .cover__title {
    max-width: 74%;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 80%;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
