.cover__title {
    width: 560px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    font-style: normal;
    margin: 0 auto;
    padding-top: 245px;

}
@media screen and (max-width: 1024px) {
  .cover__title {
     padding-top: 195px;
  }
}


@media screen and (max-width: 767px) {
    .cover__title {
       font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
  }


@media screen and (max-width: 320px) {
  .cover__title {
   padding: 33px 16px 0 16px;
  }
}