@import url('__title/place__title.css');
@import url('__website/place__website.css');
@import url('__url/place__url.css');
@import url('__link/place__link.css');
@import url('__images/place__images.css');
@import url('__text/place__text.css');
@import url('__paragpaph/place__paragraph.css');
.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 35px;
}



@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 340px 1fr;
        padding-bottom: 40px;
        grid-column-gap: 100px;
}
}



@media screen and (max-width: 720px) {
    .place {

        padding-bottom: 40px;
        grid-column-gap: 100px;
}
}

@media screen and (max-width: 320px) {
        .place {
            grid-template-columns: repeat(1, minmax(min-content, max-content));
            grid-template-rows: repeat(3, minmax(min-content, max-content));
               
}
}