@import url('./__navigation/footer__navigation.css');
@import url('./__services/footer__services.css');
@import url('./__list/footer__list.css');
@import url('./__link/footer__link.css');
@import url(./__copyright/footer__copyright.css);
.footer {
    display: flex;
    max-width: 1184px;
    justify-content: space-between;
    margin: 60px 0 0;
}

@media screen and (max-width: 1280px) {
    .footer {
        max-width: 1184px;
        margin: 60px 15px 0 15px;

    }



@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
        margin: 60px 15px 0 15px;
    }


    @media screen and (max-width: 768px) {
        .footer {
            max-width: 720px;
            margin: 60px 15px 0 15px;
        }

        @media screen and (max-width: 320px) {
            .footer {
                max-width: 186px;
                flex-direction: column;
            }
