.footer {
    display: flex;
    max-width: 1184px;
    justify-content: space-between;
    margin: 92px 0 0;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
        margin: 92px 48px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 928px;
        flex-direction: column;
        margin: 64px 16px 16px;
    }
}
